aiohttp==3.8.4
aiosignal==1.3.1
appdirs==1.4.4
astor==0.8.1
async-timeout==4.0.2
attrs==22.2.0
backoff==1.11.1
blender==1.4
blessed==1.20.0
blinker==1.7.0
Brotli==1.0.9
certifi==2023.7.22
charset-normalizer==3.1.0
click==8.1.7
emoji==2.12.1
filelock==3.12.3
Flask==3.0.3
frozenlist==1.3.3
fsspec==2023.9.0
git-python==1.0.3
gitdb==4.0.10
GitPython==3.1.35
h11==0.14.0
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.8.0
inquirer==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.3
litellm==0.1.583
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.5.0
mpmath==1.3.0
multidict==6.0.4
mutagen==1.46.0
networkx==3.4.2
numba==0.60.0
numpy @ file:///private/tmp/numpy-20240206-5694-3lh52k/numpy-1.26.4
open-interpreter==0.1.3
openai==0.27.10
openai-whisper==20240930
opencv-python==4.10.0.84
outcome==1.3.0.post0
packaging==23.1
pycryptodomex==3.18.0
pydub==0.25.1
pygame==2.6.1
Pygments==2.16.1
PySocks==1.7.1
python-dotenv==1.0.0
python-editor==1.0.4
PyYAML==6.0.1
readchar==4.0.5
regex==2023.8.8
requests==2.31.0
rich==13.5.2
selenium==4.16.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
spotify==0.10.2
style==1.1.0
sympy==1.13.1
tiktoken==0.4.0
tokentrim==0.1.10
torch==2.5.0
tqdm==4.66.1
trio==0.23.2
trio-websocket==0.11.1
typing_extensions==4.12.2
update==0.0.1
urllib3==2.0.4
wcwidth==0.2.6
websockets==12.0
Werkzeug==3.0.2
wget==3.2
wsproto==1.2.0
yarl==1.8.2
youtube-dl==2021.12.17
yt-dlp==2024.5.27
zipp==3.16.2
